body {
  font: 15px/1.5 Arial, Halvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#navbar h1 .text-primary,
#navbar ul .current a {
  color: #e8491d;
  font-weight: bold;
}

/* Navbar */
#navbar {
  background: #35424a;
  color: #fff;
  padding-top: 20px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

#navbar h1 {
  float: left;
  margin-top: 8px;
}

#navbar ul {
  margin: 10;
  padding: 0;
  float: right;
}

#navbar ul li {
  float: left;
  padding: 0 20px 0 20px;
  list-style-type: none;
}
#navbar ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
